/* Selenized black */

:root {
  --background-color: var(--black);
  --color: var(--fg);
  --link-color: var(--blue);
  --hover-color: var(--br_blue);
  --icon-filter: invert(100%);
  --icon-filter_hover: invert(40%);
  --image-filter: grayscale(50%);
  --main-headline-color: var(--fg);
  --accent-background-color: var(--blue);
  --accent-color: var(--black);

  --bg: #181818);
  --black: #252525;
  --br_black: #3b3b3b;
  --white: #777777;
  --fg: #b9b9b9;
  --br_white: #dedede;
  --red: #ed4a46;
  --green: #70b433;
  --yellow: #dbb32d;
  --blue: #368aeb;
  --magenta: #eb6eb7;
  --cyan: #3fc5b7;
  --orange: #e67f43;
  --violet: #a580e2;
  --br_red: #ff5e56;
  --br_green: #83c746;
  --br_yellow: #efc541;
  --br_blue: #4f9cfe;
  --br_magenta: #ff81ca;
  --br_cyan: #56d8c9;
  --br_orange: #fa9153;
  --br_violet: #b891f5;
}
